.weather-content{
    width: calc( 100% - 30% );
    background: $color-100E1D;
    color: $color-E7E7EB;
    padding: 40px 100px;
    font-family: Raleway;

    @include respond(tab-land) {
        padding: 30px;
    }

    @include respond(phone) {
        width: 100%;
    }

    @include respond(phone) {
        min-height: 80vh;
    }

    &__temp-buttons{
        display: flex;
        justify-content: flex-end;

        &__item{
            
            border-radius: 50%;
            padding: 8px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background: $color-585676;
            @include flex-center;
            color: $color-E7E7EB;
            font-weight: 600;

            &:first-child{
                margin-right: 5px;
            }

            &--selected{
                background: $color-E7E7EB;
                color: $color-110E3C;
            }
        }
    }
    &__upcoming-days{
        margin-top: 40px;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax( 145px, 1fr ));
    }
    &__highlights{
        margin-top: 40px;

        &__heading{
            font-weight: 600;
            font-size: rem(24);
        }
        &__content{
            margin-top: 30px;
            display: grid;
            grid-gap: 4rem;
            grid-template-columns: repeat(auto-fit, minmax( 300px, 1fr ));
        }
    }
}