$color-6E707A: #6E707A;
$color-1E213A: #1E213A;
$color-E7E7EB: #E7E7EB;
$color-A09FB1: #A09FB1;
$color-88869D: #88869D;
$color-100E1D: #100E1D;
$color-585676: #585676;
$color-110E3C: #110E3C;
$color-616475: #616475;
$color-3C47E9: #3C47E9;
$color-e6eaf5: #e6eaf5;
